
body { 
       background: white;
       font-family:Hobo Std,Mv Boli,Buxton Sketch,Harrington;
       font-size: 14pt;
       color:rgb(250,248,223);
}



h1{text-align: center;font-size: 60px;font-family: Goudy Stout;color: black}
h3{color:rgb(252,202,113);cursor:pointer;}
h4{font-family: Harrington,Papyrus;}
h4{color:red;cursor:pointer}
hr{background-color:rgb(252,202,113);height:10px}

img{height:300px;width:300px}
.img1{height:300px;width:300px}
.img2:hover{height:400px;width:400px;}


.tit{border:none}

div a:hover{border:1px solid pink}



table{font-size: 1em;text-align: center}

td{margin-left:1000px; color: black}
div{margin-left:center; }
.buy a:hover{color:blue;text-decoration: underline;}

button{background-color: red;font-weight:bold}






#card,#order,#mail,#backimage{
    position: fixed;
    right:0;
    width: 30px;
    height: 30px;
}

#card:hover,#order:hover,#mail:hover,#backimage:hover{
    height: 50px;width: 50px;
    cursor:pointer
}

#card{bottom:17em;}
#backimage{bottom:20em;}
#order{bottom:17em;}
#mail{bottom:14em;}