<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/style4.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/magic.min.css" />
	<link rel="stylesheet" href="css/home.css" />
<title>首页</title>
</head>
<body>
	<header>
		<ul>
			<li id="detail">
				<button id="trigger-overlay" type="button">
					<img src="img/detail.png" />
				</button>
			</li>
			<li id="cart">
				<button >
					<img src="img/cart.png" />
				</button>
			</li>
		</ul>
		<div class="overlay overlay-slidedown">
			<button type="button" class="overlay-close">Close</button>
			
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">What we do?</a></li>
					<li><a href="#">Our clients</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</nav>
			<div class="your_blocks">
				<div class="your_block">
					<a href="#">
		                <img src="img/intro.jpg" class="block_attachment" alt=""> 
		    			<span>
							
						</span>	                                               			
					</a>
				</div>
			</div>			
		</div>
	</header>
	<div id="main">
		<div id="content">
			<section id="title">
				<img id="logo" src="img/logo.png"></img>
				<ul>
					<li>
						<a>登录</a>
					</li>
					<li>
						<a>注册</a>
					</li>
				</ul>			
			</section>
			<section class="bookItems ">
				<div class="container">
				
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>	
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"> </span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>	
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>	
					
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>	
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>	
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>	
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>		
					
					
					<div class="box">
						<div class="box-content">
							<div class="box-wrapper">
								<!--租金-->
								<span class="name"></span>
								<!--库存-->
								<div class="row"></div>					
							</div>	
						</div>
						<div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
							<!--图片路径-->
							<img src="" alt="" />
						</div>
						<article>
							<!--图书名-->
							<h1></h1>
							<!--出版社-->
							<h2></h2>
						</article>
						<!--详情页面URL-->
						<a class="link" href="" target="_blank"></a>				
					</div>								
				</div>
			</section>
		</div>		
	</div>
	<footer>
		
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="js/mousetrap.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/cmdscriptmin.js"></script>
	<script src="js/jquery.1.10.2.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>