.content{
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
    color: rgb(88,88,88);
}
.summary{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    left: 0;
}
.summary .title{
    width: 70%;
    height: auto;
    text-align: right;
    margin: 0 auto 30px;
}
.summary .title ul{
    display: block;
    width: 100%;
    
}
.summary .title ul li{
    display: inline-block;
    width: 15%; 
    text-align: center; 
}
.processName li span{
    color: rgb(88,88,88);
    font-size: 16px;
    font-weight: 700;
    font-family: "miniYouXian";
}
.processNum li span{
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    color: rgb(60, 60, 60);
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid rgb(60, 179, 113);
    border-radius: 14px;
    background-color: #FFFFFF;
}
.processNum li span.curNum{
    color:#fff;
    background-color: rgb(60, 179, 113);
}
.summary .table{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.summary h2{
    font-size: 25px;
    font-family: "MFYueHei_Noncommercial-Regular";
    font-weight: 600;
    display: inline-block;
    color: rgb(88,88,88);
    letter-spacing: 5px;
    margin: 30px auto;
}
.return{
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
    color: #777777;
    font-weight: 600;
}
#comment{
    width: 62%;
    height: 30px;
    margin-left: 10px;
    margin-top: 30px;
    border: 1px solid #777777;
    border-radius: 2px;
}
.summary .table thead tr th:nth-child(1){
    width: 40%;
}
.summary .table thead tr th:nth-child(2){
    width: 20%;
}
.summary .table thead tr th:nth-child(3){
    width: 8%;
}
.summary .table thead tr th:nth-child(4){
    width: 15%;
}
.summary .table tbody tr td:nth-child(3) input{
    width: 80px;
}

#cotactInfo h2{
    font-size: 25px;
    font-family: "MFYueHei_Noncommercial-Regular";
    font-weight: 400;
    color: rgb(88,88,88);
    letter-spacing: 5px;
    text-align: center;
}
.nameContainer {
    width: 50%;
    height: 30px;
    margin: 15px auto;
    display: block;
}
.phoneNumContainer{
     width: 50%;
    height: 30px;
    margin: 15px auto;
    display: block;
}
.addressContainer{
    height: 30px;
    margin: 15px auto 5px;
    display: block;
}
.confirmCodeContainer{
    height: 50px;
    margin: 0 auto;
    display: block;
}
#name{
    width: 100%;
    height: 30px;
    margin: 0;
    display: inline-block;
}
#phoneNumber{
    width: 100%;
    height: 30px;
    margin: 0;
    display: inline-block;
}
#address{
    width: 50%;
    height: 30px;
    margin: 10px auto 0 25%;
}
#confirmCode{
	width: 25%;
	
	margin: 10px 0;
	display: inline-block;
}
#sendConfirmCode{
	width: 25%;
	margin: 10px auto;
	display: inline-block;
}
.orderBtn{
    width: 130px;
    height: 50px;
    border: 2px solid #777777;
    background-color: #FFFFFF;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    font-family:"YouYuan";
    transition: all 0.3s ease-in-out;
    margin: 20px;
    font-family: "miniYouXian";
}
.orderBtn:hover{
    background-color: black;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
}
#cotactInfo .hint{
    width: 50%;
    height: 15px;
    margin: 5px auto 0 25%;
    text-align: left;
    color: red;
    font-size: 12px;
    visibility: hidden;
    font-family: "微软雅黑";
    font-weight: 700;
}
#submit{
    width: 22.5%;  		   		
}
#cancel{
    width: 22.5%;
}