ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 200px;
    position: relative;
    left: 0;
    top: 0;

}
header a{
    width: 370px;
    height: 135px;
    left: 40%;
    margin: 30px auto;
    position: absolute;
}
header a img{
    width: 320px;
    height: 115px;
    left: auto;
    position: absolute;
}
header a img:hover{
    cursor: pointer;
}
.commonBtn{
    width: 170px;
    height: 50px;
    display: inline-block;
    border: 2px solid #777777;
    background-color: #FFFFFF;
    margin: 30px 20px 20px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family:"YouYuan";
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
.commonBtn p{
    width: 170;
    height: 50px;
    margin: 0;
    line-height: 50px;
}

.commonBtn:link{
    color: black;
}
.commonBtn:visited{
    color: black;
}
.commonBtn:hover{
    color: white;
}      	
.commonBtn:hover{
    border: 2px solid transparent;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
}  
/* 导航条 */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 60%;
    margin: 0 auto;
    background: #FFFFFF;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: right;
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: "MFYueHei_Noncommercial-Regular";   
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: background 0.2s ease-in;
}
.menu > ul > li:nth-child(3) {
    min-width: 160px;
}
.menu > ul > li a {
    text-decoration: none;
    padding: 1.2em 1em;
    display: block;
    color: rgb(38,66,141);
}
.menu > ul > li i {
    margin: 0 10px;
}
.menu > ul > li:hover {
    background: #F0F0F0;
}

.menu > ul > li > ul {
    display: none;
    width: inherit;
    background: #f0f0f0;
    padding: 10px 0 0 0;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 100%;
    background: none;
    float: left;
    transition: background-color 0.2s ease-in;
}
.menu > ul > li > ul > li:hover {
    background: #FFFFFF;
}

.menu > ul > li > ul > li a {
    color: #1A1A1A;
    padding: .2em 0;
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 160px;
    left: auto;
    padding: 10px 0px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
/*字体文件*/

@font-face {
    font-family:'miniYinBiKaiShu';
    src: url('../font/迷你简硬笔楷书.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'miniYinBiXingShu';
    src: url('../font/迷你简硬笔行书.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'miniYouXian';
    src: url('../font/迷你简幼线.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'MFYueHei_Noncommercial-Regular';
    src: url('../font/MFYueHei_Noncommercial-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
    	