     	    #content{
        		width: 100%;
        		height: auto;
        		position: relative;
        		top: 80px;       		
        	}
        	#content::after{
        		content: ".";
        		clear: both;
        		display:block;
        		width: 0;
        		height: 0;
        		visibility:hidden;
        	}
        	#detail{
        		width: 26%;
        		height: auto;
        		position: relative;       		
        		margin: 40px 20% 40px 0;
        		float: right;       	
        	}
        	#bookPicture{
        		width: 26%;
        		height: auto;
        		position: relative;
        		margin: 40px 0 40px 20%;    
        		float: left;		      		
        	}
        	#detail h1{
        		font-size: 35px;
        		width: 90%;
        		margin: 20px auto;
        		text-align: center;
        		text-transform: uppercase;
        		font-family: "miniYinBiKaiShu";
        	}
        	#detail h2{
        		font-size: 24px;
        		width: 90%;
        		text-align: center;
        		margin: 20px auto;
        		font-weight: 600;
        		font-family: "miniYinBiXingShu";
        	}
        	#detail article{
        		width: 90%;
        		margin: 40px auto;
        		height: auto;
        		text-align: left;
        		font-size: 15px;
        	}
        	#detail article ul{
        		width: auto;
        		height: auto;
        		list-style: none;
        		padding-right: 40px;
        		position: relative;
        	}
        	#detail article ul li{
        		width: auto;
        		height: auto;
        		position: relative;
        	}
			#detail article ul li h3{
        		font-family: "MFYueHei_Noncommercial-Regular";
        		font-size: 20px;
        		font-weight: 600;
        		display: inline-block;        		
        	}
        	#detail article ul li>span{
        		font-family: "MFYueHei_Noncommercial-Regular";
        		font-size: 15px;
        		font-weight: 300;  
        		display: inline-block; 
        		position: absolute;
        		vertical-align: middle;
        		right: 0;   
				margin: 20px 0;	
        	}
        	#detail article ul li p{
        		width: calc(100% - 40px);
        		height: auto;
        		font-family: "MFYueHei_Noncommercial-Regular";
        		font-size: 15px;
        		font-weight: 300;   
        		position: absolute;
        		left: 40px;	
        	}
        	#bookPicture img{
        		width: 400px;
        		height: 400px;
        		margin: 10px auto;
        	}