#content{
    width: 100%;
    height: auto;
    position: relative;
    top: 80px;       		
}
#content::after{
    content: ".";
    clear: both;
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
#detail{
    width: 26%;
    height: auto;
    position: relative;       		
    margin: 40px 20% 40px 5%;
    float: left;       	
}
#bookPicture{
    width: 26%;
    height: auto;
    position: relative;
    margin: 40px 0 40px 20%;    
    float: left;		      		
}
#bookPicture img{
	width: 80%;
	height: 80%;
}
#detail h1{
    font-size: 2.5em;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "miniYinBiKaiShu";
}
#detail h2{
    font-size: 1.8em;
    width: 90%;
    text-align: center;
    margin: 20px auto;
    font-weight: 600;
    font-family: "miniYinBiXingShu";
}
#detail article{
    width: 90%;
    margin: 40px auto;
    height: auto;
    text-align: left;
    font-size: 1.4em;
}
#detail article ul{
    width: auto;
    height: auto;
    list-style: none;
    padding-right: 40px;
    position: relative;
}
#detail article ul li{
    width: auto;
    height: auto;
    position: relative;
}
#detail article ul li h3{
    font-family: "MFYueHei_Noncommercial-Regular";
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;        		
}
#detail article ul li>span{
    font-family: "MFYueHei_Noncommercial-Regular";
    font-size: 0.7em;
    font-weight: 300;  
    display: inline-block; 
    position: absolute;
    vertical-align: middle;
    right: 0;   
    margin: 20px 0;	
}
#detail article ul li p{
    width: calc(100% - 40px);
    height: auto;
    font-family: "MFYueHei_Noncommercial-Regular";
    font-size: 15px;
    font-weight: 300;   
    position: absolute;
    left: 40px;	
}
.commentsContainer{
    width: 90%;
    margin: 20px auto;
    border: 2px solid #000;
}
.commentsContainer:after{
    content: "";
    clear: both;
    display: block;
}
.commentsContainer h3{
    font-size: 20px;
    text-align: center;
    font-family: "MFYueHei_Noncommercial-Regular";
    margin-bottom: 20px;
    
}
.commentsContainer .comments{
   margin: 10px auto;
    padding: 10px;
}
.commentsContainer .comments:after{
    content: "";
    clear: both;
    display: block;
}
.commentsContainer .comments .leftPart{
    width: 30%;
    min-height: 85px;
    font-family: "MFYueHei_Noncommercial-Regular";    
    float: left;
    text-align: center;
}
.commentsContainer .comments .leftPart h4{
    font-size: 15px;
}
.commentsContainer .comments .rightPart{
    width: 70%;
    min-height: 85px;
    font-family: "MFYueHei_Noncommercial-Regular";  
    float: left;
    border: 2px solid #000;
    border-radius: 5px;
}
.commentsContainer .comments .rightPart p{
    margin: 5px;
}
#bookPicture img{
    margin: 10px auto;
}