		a{
    		text-decoration: none;
    		outline: none;
    	}
    	header{
    		width: 100%;
    		height: 200px;
    		position: relative;
  			left: 0;
  			top: 0;
  			
    	}
    	header a{
    		width: 370px;
    		height: 135px;
    		left: 40%;
    		margin: 30px auto;
    		position: absolute;
    	}
    	header a img{
    		width: 320px;
    		height: 115px;
    		left: auto;
    		position: absolute;
    	}
    	header a img:hover{
    		cursor: pointer;
    	}
    	.content{
    		width: 50%;
    		height: auto;
    		position: relative;
    		left: 25%;
    		color: rgb(88,88,88);
    	}
    	.summary{
    		width: 100%;
    		height: auto;
    		text-align: center;
    		position: relative;
    		left: 0;
    	}
    	.summary .title{
    		width: 50%;
    		height: auto;
    		text-align: center;
    		margin: 0 auto 30px;
    	}
    	.summary .title h1{   		
    		font-size: 20px;
    		font-family: "微软雅黑";
    		font-weight: 500;
    		display: inline-block;
    		margin: 0 160px 0 -40px;
    		color: #000000;
    	}
    	.summary .title a{   		
    		font-size: 18px;
    		font-family: "微软雅黑";
    		font-weight: 300;
    		color: black;
    		text-decoration: none;
    		cursor: pointer;
    	}
    	.summary .table{
    		width: 50%;
    		height: auto;
    		margin: 0 auto;
    	}
    	.summary h2{
    		font-size: 25px;
    		font-family: "微软雅黑";
    		font-weight: 400;
    		display: inline-block;
    		color: rgb(88,88,88);
    		letter-spacing: 5px;
    		margin: 30px auto;
    	}
    	.summary #comment{
    		width: 50%;
    		height: auto;
    		min-height: 80px;
    		margin-top: 50px;
    	}
    	.summary .table thead tr th:nth-child(1){
    		width: 40%;
    	}
    	.summary .table thead tr th:nth-child(2){
    		width: 20%;
    	}
    	.summary .table thead tr th:nth-child(3){
    		width: 8%;
    	}
    	.summary .table thead tr th:nth-child(4){
    		width: 15%;
    	}
    	.summary .table tbody tr td:nth-child(3) input{
    		width: 80px;
    	}
    	#cotactInfo h2{
    		font-size: 25px;
    		font-family: "微软雅黑";
    		font-weight: 400;
    		color: rgb(88,88,88);
    		letter-spacing: 5px;
    	}
    	#name{
    		width: 25%;
    		height: 30px;
    		margin-top: 10px;
    	}
    	#phoneNumber{
    		width: 25%;
    		height: 30px;
    		margin-top: 10px;
    	}
    	#address{
    		width: 50%;
    		height: 30px;
    		margin-top: 5px;
    	}
    	.orderBtn{
    		width: 130px;
    		height: 50px;
    		border: 2px solid #777777;
    		background-color: #FFFFFF;
    		line-height: 50px;
    		font-size: 18px;
    		font-weight: 600;
    		font-family:"YouYuan";
    		transition: all 0.3s ease-in-out;
    		margin: 20px;
    	}
    	.orderBtn:hover{
    		background-color: black;
    		border: 2px solid transparent;
    		color: white;
    		cursor: pointer;
    	}
    	#submit{
    		width: 22.5%;  		
    		
    		
    		
    	}
    	#cancel{
    		width: 22.5%;
    	}